//colours
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$colour-primary: white;
$colour-secondary: #3b3b3b;
$colour-background: #1d1d1d;
$colour-background-primary:#7768d1;
$colour-background-secondary: #1d1d1d;
$color-background-tertiary: #a19e46;
$colour-ui-primary: white;
$colour-ui-shadow: rgba(0, 0, 0, 0.1);

$font-primary: "Arial", sans-serif;
$font-secondary:"Montserrat", sans-serif;

$colour-details: #797979;